node_modules/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/pdf-ocr-api.iml
.idea/webServers.xml

db/mock.db

db/development.config.js
db/production.config.js
db/local.config.js